*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep           
JLinkLog.txt
*.iex
*.htm
*.sct
*.map
*.uvguix*
*.uvoptx
*.hex
EventRecorderStub.scvd

Project/F407VE_8M_Test
.vscode/
Module/VL53L0X/TODO.txt
Module/Test
.mxproject