<html>
<head>
    <meta charset="utf-8">
    <title>Test</title>

    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script type="text/javascript" src="../static/main.js"></script>
    <script type="text/javascript" src="../static/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div>
        <p>开关1</p>
        <input class="mySwitch mySwitch-anim" onchange="onSwitchChanged(this.id)" id=sw1 type="checkbox" unchecked>
    </div>
    <div>
        <p>开关2</p>
        <input class="mySwitch mySwitch-anim" onchange="onSwitchChanged(this.id)" id=sw2 type="checkbox" unchecked>
    </div>

</body>
</html>